<div class="container">
  <h1>Smart package</h1>
  <div class="row">
    <div class="col-6">
      <div class="alert alert-dark">
        <h5>You have <span id="balance">{{model.balance}}</span> tokens</h5>
        <div class="container">
          <div class="row">
            <input class="form-control col-8" type="text" placeholder="Tokens" id="amount"[(ngModel)]="ether">
            <button class="btn btn-dark col-4" id="buy" (click)="buyTokens()">Buy Tokens</button>
          </div>
        </div>
      </div>
      <div class="alert alert-dark">
        <app-clerk-vote [clerk]="clerk" [account]="model.account"></app-clerk-vote>
      </div>
    </div>
    <app-create-contract class="col-6" [account]="model.account" [token]="token" [dapp]="dapp"></app-create-contract>
  </div>
  <div class="row">
    <div class="col-6">
      <div *ngFor="let c of contracts">
        <app-agreement [contractAddress]="c" [account]="model.account" [token]="token" [agreementData]="agreementData"
                       [agreementDeliver]="agreementDeliver" [agreementReturn]="agreementReturn" [dapp]="dapp" [clerk]="clerk"></app-agreement>
      </div>
    </div>
  </div>
</div>

