<div *ngIf="state==3">
  <br><button class="button-margin btn btn-success" id="satisfied" (click)="success()"
              [disabled]="(time*1+20) * 1000 - now.valueOf() > 0">Satisfied</button>
  <button class="button-margin btn btn-danger" *ngIf="buyer == account" id="dissatisfied" (click)="dissatisfied()"
          [disabled]="(time*1+20) * 1000 - now.valueOf() < 0">Dissatisfied</button>
</div>
<button class="btn btn-success button-margin" id="withdraw" (click)="withdraw()">
  Withdraw tokens <label class="badge badge-light badge-pill">{{allowance}}</label>
</button>
