<div class="card-header text-white"
     [ngClass]="{'bg-dark' : account == purchaseInfo.seller, 'bg-info' : account == purchaseInfo.buyer,
     'bg-secondary' : account != purchaseInfo.seller && account != purchaseInfo.buyer}">
  Contract {{contractAddress}}
</div>
<div class="card-body">
  <div *ngIf="purchaseInfo.state!=0">
    Price: {{purchaseInfo.price}}
    <br>
    <div *ngIf="maxT[3]">
      Max temp: {{maxT[0]}}&deg;C <i *ngIf="maxT['warning']" class="fa fa-warning"></i>
    </div>
    <div *ngIf="minT[3]">
      Min temp: {{minT[0]}}&deg;C <i *ngIf="minT['warning']" class="fa fa-warning"></i>
    </div>
    <div *ngIf="acc[3]">
      Acceleration: {{acc[0]}}g <i *ngIf="acc['warning']" class="fa fa-warning"></i>
    </div>
  </div>
  <div *ngIf="account==purchaseInfo.seller && purchaseInfo.state==0">
    <label for="amount">Price:</label><input type="text" id="amount" placeholder="e.g., 95" [(ngModel)]="price">
    <button id="send" (click)="setPrice()">Set price</button>
    <button id="abort" (click)="abort()">Abort</button>
  </div>
  <app-accept *ngIf="account==purchaseInfo.seller && purchaseInfo.state==1" [account]="account" [purchase]="purchase"
  [contractAddress]="contractAddress"></app-accept>
  <div *ngIf="account!=purchaseInfo.seller && purchaseInfo.state==0">
    Price: {{purchaseInfo.price}}
    <br><label for="maxT">Max temp:</label><input type="text" id="maxT" [(ngModel)]="model.maxTThreshold">
    <br><label for="minT">Min temp:</label><input type="text" id="minT" [(ngModel)]="model.minTThreshold">
    <br><label for="acc">Acceleration:</label><input type="text" id="acc" [(ngModel)]="model.accThreshold">
    <br><button id="propose" (click)="propose()">Propose</button><br>
  </div>
  <app-simulation *ngIf="purchaseInfo.state==2" [contractAddress]="contractAddress" [account]="account" [purchase]="purchase"></app-simulation>
  <app-confirm [state]="purchaseInfo.state" [account]="account" [contractAddress]="contractAddress" [token]="token"
               [buyer]="purchaseInfo.buyer" [purchase]="purchase"></app-confirm>
</div>



