<div *ngIf="state == 8 && account == seller">
  <button (click)="sellerSatisfied()">Satisfied</button>
  <button (click)="goodsDamaged()">Goods damaged</button>
</div>
<div *ngIf="state == 9 && isClerk">
  <br><label for="seller">Seller:</label><input type="text" id="seller" [(ngModel)]="amountSeller">
  <br><label for="buyer">Buyer:</label><input type="text" id="buyer" [(ngModel)]="amountBuyer">
  <br><label for="delivery">Buyer:</label><input type="text" id="delivery" [(ngModel)]="amountDelivery">
  <button (click)="solve()">Solve</button>
</div>
{{isClerk}}
{{account}}
