<div class="card">
  <div class="card-body">
    <label for="address">Address:</label><input type="text" id="address"[(ngModel)]="address">
    <button id="clerk" (click)="addClerk()">Add clerk</button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <label for="amount">Price:</label><input type="text" id="amount"[(ngModel)]="price">
    <button id="create3" (click)="createMinimalPurchase()">Create purchase</button>
  </div>
</div>
<div *ngFor="let c of contracts">
  <div class="card">
    <app-agreement [contractAddress]="c" [account]="account" [token]="token" [purchase]="purchase" [dapp]="dapp"></app-agreement>
  </div>
</div>

