<div class="row">
  <div class="col-4" ngbTooltip="Temperature" placement="top">
    <div class="row">
      <div class="col-1">
        <fa name="thermometer-half" size="lg"></fa>
      </div>
      <div *ngIf="minT[3] && maxT[3]">
        <p class="col-11 nice-text">{{minT[0]}}&deg;C - {{maxT[0]}}&deg;C</p>
      </div>
      <div *ngIf="!minT[3] && maxT[3]">
        <p class="col-11 nice-text"> < {{maxT[0]}}&deg;C</p>
      </div>
      <div *ngIf="!maxT[3] && minT[3]">
        <p class="col-11 nice-text"> > {{minT[0]}}&deg;C</p>
      </div>
      <div *ngIf="!minT[3] && !maxT[3]">
        <p class="col-11 nice-text"> Not included</p>
      </div>
    </div>
  </div>
  <div class="col-4" ngbTooltip="Acceleration" placement="top">
    <div class="row">
      <div class="col-1">
        <fa name="tachometer" size="lg"></fa>
      </div>
      <div *ngIf="acc[3]">
        <p class="col-11 nice-text">{{acc[0]}}g</p>
      </div>
      <div *ngIf="!acc[3]">
        <p class="col-11 nice-text">Not included</p>
      </div>
    </div>
  </div>
  <div class="col-4" ngbTooltip="Humidity" placement="top">
    <div class="row">
      <div class="col-1">
        <fa name="tachometer" size="lg"></fa>
      </div>
      <div *ngIf="hum[3]">
        <p class="col-11 nice-text">{{hum[0]}}%</p>
      </div>
      <div *ngIf="!hum[3]">
        <p class="col-11 nice-text">Not included</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4" ngbTooltip="Pressure" placement="top">
    <div class="row">
      <div class="col-1">
        <fa name="tachometer" size="lg"></fa>
      </div>
      <div *ngIf="press[3]">
        <p class="col-11 nice-text">{{press[0]}}%</p>
      </div>
      <div *ngIf="!press[3]">
        <p class="col-11 nice-text">Not included</p>
      </div>
    </div>
  </div>
  <div class="col-4" ngbTooltip="GPS" placement="top">
    <div class="row">
      <div class="col-1">
        <fa name="globe" size="lg"></fa>
      </div>
      <div *ngIf="gps">
        <p class="col-11 nice-text">Included</p>
      </div>
      <div *ngIf="!gps">
        <p class="col-11 nice-text">Not included</p>
      </div>
    </div>
  </div>
</div>
